body {
    /* background-color: #A7BED3; */
    background-image: url('assets/Low\ Poly\ Grid.svg');
    color: white;
    font-family: 'Quicksand', 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    font-family: 'Josefin Slab', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 128px;
    text-align: center;
    margin: 0;
    padding: 0;
}

p {
    font-size: 30px;
    /* font-style: italic; */
    text-align: center;
    margin: 0;
    padding: 0;
}

.download {
    margin-top: 1.5rem;
}

.badges {
    padding: 0.7rem;
}

.icon {
    margin: 0.3rem;
}